<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 class="head">Testimonials</h1>
        <div class="reviews">

            <div>
                <h3 class="head">Jane Syokimau</h3>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quo quos, voluptas, aspernatur magnam amet illum nobis expedita, iure rerum corrupti perferendis non? Sint optio repellendus illo quam! Dolorem, quam?</p>
            </div>
            <div>
                <h3 class="head">Benjamin Musyoka</h3>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea neque enim recusandae nemo vero! Animi perferendis qui nesciunt explicabo eaque, enim dolor harum modi totam adipisci. Impedit delectus recusandae quidem.</p>
            </div>
        </div>
    </div>


</body>
</html>
