<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <h1 class="head">Our Services</h1>
    <div class="services">
        <div>
            <h3 class="head">Property Insurance</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ratione ab distinctio. Velit nisi, incidunt esse magnam numquam fugit repellendus provident neque illo beatae facilis expedita iusto laboriosam? A, ipsam.</p>
        </div>
        <div>
            <h3 class="head">Health Insurance</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, hic fuga, aliquam ea incidunt nemo quia velit, debitis dolores necessitatibus facilis accusantium totam porro sint reiciendis numquam nihil doloribus placeat.</p>
        </div>
        <div>
            <h3 class="head">life insurance</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia dicta cupiditate repudiandae iusto perspiciatis, fugiat vitae, provident tenetur laborum nisi eius praesentium fugit optio repellat, porro quo ipsa in!</p>
        </div>
        <div>
            <h3 class="head">business insurance</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, odio quae! Laudantium perferendis est ullam repellendus! Cumque, sequi voluptate quibusdam eius odio illum nihil libero. Nemo atque temporibus animi illum!
        </div>
    </div>

</body>
</html>
